body {
  font-family: "Microsoft YaHei";
}
.background_small {
  width: 100%;
  height: 1849px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 1230px;
}
.bg_small {
  width: 100%;
  height: 1849px;
}
#great_cqupt {
  width: 1003px;
  height: 896px;
  margin: 0 auto;
  position: relative;
  margin-top: -95px;
}
.great_bg {
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
}
#great_flag {
  position: absolute;
  left: 390px;
  top: -85px;
  width: 218px;
  height: 98px;
}
#great_flag img {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
}
#sub_nav_g {
  width: 648px;
  height: 55px;
  position: absolute;
  top: 40px;
  left: 190px;
  line-height: 55px;
  vertical-align: middle;
  font-size: 24px;
  z-index: 10;
}
#sub_nav_g span {
  width: 162px;
  height: 55px;
  z-index: 11;
  float: left;
  text-align: center;
  cursor: pointer;
}
#surround {
  border-top-left-radius: 22.5px;
  border-bottom-left-radius: 22.5px;
}
#play_cqupt {
  border-top-right-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
}
.unclick {
  background-color: #7ad8d3;
  color: #ffffff;
}
.clicked {
  background-color: #fee04b;
  color: #f5a73a;
}
#third_nav {
  height: 120px;
  width: 977.5px;
  position: absolute;
  display: block;
  top: 130px;
  left: 5.5px;
  z-index: 10;
}
.great_unclick {
  width: 303px;
  height: 120px;
  margin-left: 14.5px;
  position: relative;
  margin-top: 0;
  float: left;
  background: url("../image/branch_2/big_box.png");
  vertical-align: middle;
  color: #fdcd66;
  line-height: 45px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.great_click {
  width: 328px;
  height: 120px;
  margin-left: 14.5px;
  position: relative;
  margin-top: -15px;
  float: left;
  background: url("../image/branch_2/big_box_float.png");
  vertical-align: middle;
  color: #f8ae3c;
  line-height: 60px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
#college_club {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: block;
  top: 173px;
  z-index: 12;
}
#left_sid {
  width: 70px;
  height: 699px;
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 14px;
  left: 0;
}
.col_club_class {
  width: 70px;
  height: 116.5px;
  background-color: #fed18d;
  border: #fedac3 0.1px solid;
}
.col_club_class_click {
  width: 70px;
  height: 114.5px;
  background-color: #9fe5eb;
  border: #fedac3 0.1px solid;
}
.span_font {
  margin-left: 25px;
  width: 20px;
  height: 114.5px;
}
#col_stu_union {
  padding-top: 10px;
}
#sci_union {
  padding-top: 5px;
}
#club_union {
  padding-top: 5px;
}
#teen_volum {
  padding-top: 5px;
}
#tuanwei_det {
  width: 893px;
  position: relative;
  z-index: 15;
  height: 1350px;
  color: #c89c66;
  display: none;
  margin-left: 70px;
  background-color: #ffffff;
}
#col_stu_union_det {
  width: 893px;
  position: relative;
  z-index: 15;
  height: 2310px;
  display: block;
  color: #c89c66;
  margin-left: 70px;
  background-color: #ffffff;
}
#sci_union_det {
  width: 893px;
  position: relative;
  z-index: 15;
  height: 1210px;
  display: none;
  color: #c89c66;
  margin-left: 70px;
  background-color: #ffffff;
}
#club_union_det {
  width: 893px;
  position: relative;
  z-index: 15;
  height: 920px;
  display: none;
  color: #c89c66;
  margin-left: 70px;
  background-color: #ffffff;
}
#teen_volum_det {
  width: 893px;
  position: relative;
  z-index: 15;
  height: 1750px;
  display: none;
  color: #c89c66;
  margin-left: 70px;
  background-color: #ffffff;
}
#stu_art_det {
  width: 893px;
  position: relative;
  z-index: 15;
  height: 711px;
  display: none;
  color: #c89c66;
  margin-left: 70px;
  background-color: #ffffff;
}
.club_add {
  position: absolute;
  top: 40px;
  left: 210px;
  width: 480px;
  height: 288px;
  overflow: hidden;
}
.club_add img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 16;
}
.float_line {
  width: 12px;
  height: 711px;
  background-color: #ffee89;
  position: absolute;
  z-index: 20;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0;
  right: 0;
}
.flaot_d {
  width: 10px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 1px;
  z-index: 15;
  background-color: #fff9d3;
  border-radius: 5px;
}
.club_det {
  width: 882px;
  position: absolute;
  top: 330px;
}
.club_det span {
  position: relative;
  line-height: 60px;
  width: 893px;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 16px;
  float: left;
}
.club_det p {
  position: relative;
  margin-left: 30px;
  line-height: 50px;
  font-size: 14px;
}
/*学生社团*/
#stu_club {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
  z-index: 15;
}
.qq_bg {
  position: absolute;
  top: 0;
  left: 0;
}
.road_line {
  width: 180px;
  height: 41px;
  text-align: center;
  font-size: 16px;
  color: #ff9853;
  float: left;
}
.road_line_det {
  width: 700px;
  line-height: 41px;
  vertical-align: middle;
  font-size: 14px;
  float: left;
  color: #c99c68;
}
.t_ex {
  width: 887px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
  z-index: 15;
}
#skill_n {
  position: absolute;
  top: 41px;
  left: 38px;
}
#study_n {
  position: absolute;
  top: 205px;
  left: 38px;
}
#art_n {
  top: 287px;
  position: absolute;
  left: 38px;
}
#pe_n {
  top: 451px;
  position: absolute;
  left: 38px;
}
#volum_n {
  top: 533px;
  position: absolute;
  left: 38px;
}
#redrock_club {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
}
.red_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.red_logo {
  position: absolute;
  top: 40px;
  z-index: 16;
  left: 220px;
}
#red_cl_d {
  position: absolute;
  top: 287px;
  left: 38px;
  width: 887px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
  z-index: 16;
}
.red_d {
  width: 700px;
  line-height: 41px;
  vertical-align: middle;
  font-size: 14px;
  color: #c99c68;
}
#great_vedio {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
}
#great_tech {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
}
#great_stu {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
}
.left_a {
  width: 29px;
  height: 51px;
  position: absolute;
  top: 300px;
  left: 20px;
}
.left_a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.right_a {
  width: 29px;
  height: 51px;
  position: absolute;
  top: 300px;
  right: 20px;
}
.right_a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
.left_aq img {
     position: absolute;
     top:0;
     left:0;
     z-index: 15;
 }
 .right_aq img {
     position: absolute;
     top:0;
     left:0;
     z-index: 15;
 }
 .left_aq {
   width: 29px;
     height:51px;
     position: absolute;
     top: 300px;
     left:20px;
 }
 .right_aq {
     width: 29px;
     height:51px;
     position: absolute;
     top: 300px;
     right:20px;
 }
.vedio_group {
  width: 840px;
  height: 720px;
  position: absolute;
  display:block;
  top: -30px;
  left: 80px;
  z-index: 18;
}
.vedio_group_one {
  width: 840px;
  height: 720px;
  position: absolute;
  display:block;
  top: -30px;
  left: 80px;
  z-index: 18;
}
.vedio_group_two {
  width: 840px;
  height: 720px;
  position: absolute;
  display:none;
  top: -30px;
  left: 80px;
  z-index: 18;
}
.vedio_group_three {
  width: 840px;
  height: 720px;
  position: absolute;
  display:none;
  top: -30px;
  left: 80px;
  z-index: 18;
}
.vedio_sig {
  width: 250px;
  height: 210px;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  float: left;
}
.vedio_pic {
  width: 250px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}
.vedio_pic img {
  width: 250px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}
.vedio_sig span {
  width: 250px;
  height: 60px;
  background-color: #ffffff;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  position: absolute;
  top: 160px;
  left: 0;
  z-index: 20;
  color: #ffb080;
}
