body {
  font-family: "Microsoft YaHei";
}
.background_small {
  width: 100%;
  height: 1849px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 1230px;
}
.bg_small {
  width: 100%;
  height: 1849px;
}
.head {
  margin-top: 35px;
}
#need_know {
  width: 1003px;
  height: 896px;
  margin: 0 auto;
  position: relative;
  margin-top: -95px;
}
.way_bg {
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
}
#way_flag {
  position: absolute;
  left: 390px;
  top: -85px;
  width: 218px;
  height: 98px;
}
#way_flag img {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
}
#sub_nav {
  width: 324px;
  height: 55px;
  position: absolute;
  top: 40px;
  left: 340px;
  line-height: 55px;
  vertical-align: middle;
  font-size: 24px;
  z-index: 8;
}
#sub_nav span {
  width: 162px;
  height: 55px;
  z-index: 7;
  float: left;
  text-align: center;
  cursor: pointer;
}
.surround {
  border-top-left-radius: 22.5px;
  border-bottom-left-radius: 22.5px;
}
.play_cqupt {
  border-top-right-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
}
#unclick {
  background-color: #7ad8d3;
  color: #ffffff;
}
#clicked {
  background-color: #fee04b;
  color: #f5a73a;
}
/*三级导航 5块*/
#third_nav_five {
  height: 120px;
  width: 980.5px;
  position: absolute;
  display: block;
  top: 130px;
  left: 2.5px;
  z-index: 8;
}
.strategy_way_click {
  width: 197px;
  height: 119px;
  margin-left: 17.5px;
  position: relative;
  margin-top: -15px;
  background: url("../image/branch/three_float.png");
  line-height: 60px;
  vertical-align: middle;
  color: #f8ae3c;
  font-size: 20px;
  float: left;
  text-align: center;
  cursor: pointer;
}
.strategy_way {
  width: 174px;
  height: 127px;
  margin-left: 17.5px;
  position: relative;
  margin-top: 0;
  float: left;
  background: url("../image/branch/three_bot.png");
  vertical-align: middle;
  color: #fdcd66;
  line-height: 45px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
/*三级导航（3块）*/
#third_nav_three {
  height: 120px;
  width: 979.5px;
  position: absolute;
  display: none;
  top: 130px;
  left: 3.5px;
  z-index: 8;
}
.su_play_click {
  width: 328px;
  height: 120px;
  margin-left: 16.5px;
  position: relative;
  margin-top: -15px;
  float: left;
  background: url("../image/branch/big_bot_float.png");
  vertical-align: middle;
  color: #f8ae3c;
  line-height: 60px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
.su_play {
  width: 301px;
  height: 120px;
  margin-left: 16.5px;
  position: relative;
  margin-top: 0;
  float: left;
  background: url("../image/branch/big_bot.png");
  vertical-align: middle;
  color: #fdcd66;
  line-height: 45px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
/*学生宿舍*/
#dormitory_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: block;
  top: 173px;
}
.det_b {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
#interior {
  width: 963px;
  height: 330px;
  position: absolute;
  z-index: 11;
}
#interior_pic {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 428px;
  height: 246px;
  margin-top: -120px;
  margin-left: -205px;
}
.list {
  position: absolute;
  width: 2568px;
  height: 246px;
}
.list img {
  float: left;
  width: 428px;
  height: 246px;
}
#interior_pic p {
  color: #eddc90;
  width: 428px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 14;
}
.ins_pic_det {
  width: 428px;
  height: 40px;
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 13;
}
#left_arr {
  width: 55px;
  height: 72px;
  position: absolute;
  top: 125px;
  left: 190px;
  cursor: pointer;
}
#left_arr img {
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
}
#right_arr {
  width: 55px;
  height: 72px;
  position: absolute;
  top: 125px;
  right: 175px;
  cursor: pointer;
}
#right_arr img {
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
}
#dorm_det_offical {
  height: 328px;
  width: 885px;
  position: absolute;
  left: 38px;
  top: 330px;
  z-index: 13;
}
.undergraduate {
  width: 887px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
}
.dorm_explain {
  width: 175px;
  height: 41px;
  font-size: 16px;
  color: #ff9851;
  float: left;
  text-align: justify;
}
.dorm_explain span {
  display: inline-block;
  padding-left: 100%;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.dorm_ex_det {
  width: 695px;
  padding-left: 17px;
  line-height: 41px;
  font-size: 14px;
  float: left;
  color: #c99c68;
}
#dorm_ex {
  width: 887px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
  font-size: 14px;
  color: #ff9851;
}
/*qq群*/
#qq_group_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  top: 173px;
  display: none;
}
#qq_d_border {
  width: 951px;
  height: 699px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
}
#qq_det {
  width: 964px;
  background-color: #ffffff;
  height: 699px;
  overflow: auto;
}
.qq_title {
  font-size: 14px;
  line-height: 40px;
  position: relative;
  width: 885px;
  height: 40px;
  margin-left: 38px;
  margin-top: 40px;
  color: #ff9851;
  border-top: 1px dashed #e1dfd4;
}
.qq_line {
  font-size: 14px;
  line-height: 40px;
  width: 885px;
  height: 40px;
  margin-left: 38px;
  vertical-align: middle;
  color: #c99c68;
  border-top: 1px dashed #e1dfd4;
}
.qq_line_l {
  font-size: 14px;
  line-height: 40px;
  width: 885px;
  height: 40px;
  margin-left: 38px;
  vertical-align: middle;
  color: #c99c68;
  border-top: 1px dashed #e1dfd4;
}
.qq_line_title {
  color: #ff9851;
}
.qq_line span {
  width: 442.5px;
  height: 41px;
  float: left;
  text-align: left;
}
.qq_line_l span {
  width: 885px;
  height: 41px;
  float: left;
  text-align: left;
}
.float_line {
  width: 16px;
  height: 699px;
  background-color: #ffee89;
  position: absolute;
  z-index: 20;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0;
  right: 0;
}
.flaot_d {
  width: 14px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 1px;
  z-index: 15;
  background-color: #fff9d3;
  border-radius: 5px;
  cursor: pointer;
}
/*到校路线*/
#traffic_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
  z-index: 13;
}
.trf_line img {
  z-index: 14;
  position: absolute;
  top: 0;
  left: 0;
}
#airport {
  position: absolute;
  top: 41px;
  left: 38px;
}
.road_line {
  width: 963px;
  height: 41px;
  text-align: center;
  font-size: 16px;
  color: #ff9853;
  text-align: left;
  float: left;
}
.road_line_det {
  width: 885px;
  line-height: 41px;
  font-size: 14px;
  float: left;
  color: #c99c68;
}
#train {
  position: absolute;
  top: 205px;
  left: 38px;
}
#bus_car {
  position: absolute;
  top: 369px;
  left: 38px;
}
#boat {
  position: absolute;
  top: 492px;
  left: 38px;
}
.t_ex {
  width: 887px;
  height: 41px;
  line-height: 41px;
  vertical-align: middle;
  z-index: 15;
}
/*必备清单*/
#necessary_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
  z-index: 13;
}
#some_n {
  position: absolute;
  top: 41px;
  left: 38px;
}
#life_n {
  position: absolute;
  top: 164px;
  left: 38px;
}
#bath_n {
  position: absolute;
  top: 246px;
  left: 38px;
}
#cloth_n {
  position: absolute;
  top: 369px;
  left: 38px;
}
#dorm_n {
  position: absolute;
  top: 451px;
  left: 38px;
}
#single_n {
  position: absolute;
  top: 614px;
  left: 38px;
}
/*美食*/
#food_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
  z-index: 13;
}
#life_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
}
#fengjin_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
}
.white_bg {
  position: absolute;
  z-index: 14;
  top: 0;
  left: 0;
}
.big_arr_left {
  width: 76px;
  height: 100px;
  position: absolute;
  left: 48px;
  top: 280px;
}
.arr {
  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;
}
.big_arr_right {
  width: 76px;
  height: 100px;
  position: absolute;
  top: 280px;
  right: 50px;
}
.test_pic {
  width: 679px;
  height: 471px;
  position: absolute;
  top: 100px;
  left: 140px;
}
.test_pic img {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
}
.test_moon {
  width: 659px;
  height: 180px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 15;
  background: #000000;
  opacity: 0.5;
  display: none;
}
.food_det_c {
  position: absolute;
  z-index: 20;
  top: 290px;
  left: 30px;
}
.food_det_con {
  position: absolute;
  z-index: 20;
  top: 305px;
  left: 30px;
}
.test_det {
  width: 600px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.test_name {
  width: 100px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  color: #ff9851;
  float: left;
}
.test_det_line {
  width: 500px;
  height: 30px;
  font-size: 18px;
  color: #ffface;
  float: left;
}
/*入校须知*/
#entrance_d {
  width: 963px;
  height: 699px;
  position: absolute;
  left: 20px;
  display: none;
  top: 173px;
  z-index: 8;
}
#left_side {
  width: 70px;
  height: 699px;
  background-color: #fff8c7;
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 14px;
  left: 0;
}
#left_side_det {
  width: 70px;
  height: 480px;
  position: absolute;
  top: 110px;
  left: 0;
}
.four_new {
  width: 70px;
  height: 120px;
  background-color: #fed18d;
  border: #fedac3 0.5px solid;
  cursor: pointer;
  transition: background-color 1s;
}
.four_new_click {
  width: 70px;
  height: 120px;
  background-color: #9ae4e9;
  border: #fedac3 0.5px solid;
  cursor: pointer;
  transition: background-color 1s;
}
.cut_top {
  padding-top: 20px;
  margin-left: 25px;
  width: 20px;
  height: 58px;
}
.cut_t {
  padding-top: 10px;
  margin-left: 25px;
  width: 20px;
}
#must_det {
  width: 894px;
  height: 698px;
  position: relative;
  z-index: 20;
  color: #c89c66;
  margin-left: 70px;
  overflow: auto;
  overflow-x: hidden;
  background-image: url(../image/branch/white_bg.png);
}
.way_masking {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#safe_new {
  margin-top: 3px;
  width: 880px;
  height: 603px;
  background-color: #ffffff;
}
#safe_new span {
  position: relative;
  line-height: 60px;
  width: 893px;
  height: 60px;
  margin-top: 20px;
  font-size: 16px;
  float: left;
  text-align: center;
}
#safe_new p {
  position: relative;
  margin-left: 58px;
  line-height: 50px;
  font-size: 14px;
  width: 793px;
}
#new_stu_know {
  width: 880px;
  background-color: #ffffff;
}
#new_stu_know span {
  position: relative;
  line-height: 60px;
  width: 893px;
  height: 60px;
  margin-top: 20px;
  font-size: 16px;
  float: left;
  text-align: center;
}
#new_stu_know p {
  position: relative;
  margin-left: 58px;
  line-height: 50px;
  font-size: 14px;
  width: 793px;
}
.bottom_side {
  width: 893px;
  height: 30px;
  z-index: 20;
}
.cut_off {
  width: 880px;
  position: relative;
  height: 19px;
  background-color: #f6f6f6;
}
#money_site {
  width: 880px;
  background-color: #ffffff;
}
#money_site span {
  position: relative;
  line-height: 60px;
  width: 893px;
  height: 60px;
  margin-top: 20px;
  font-size: 16px;
  float: left;
  text-align: center;
}
#money_site p {
  position: relative;
  margin-left: 58px;
  line-height: 50px;
  font-size: 14px;
  width: 793px;
}
#ste_rule {
  width: 880px;
  background-color: #ffffff;
}
#ste_rule span {
  position: relative;
  line-height: 60px;
  width: 893px;
  height: 60px;
  margin-top: 20px;
  font-size: 16px;
  float: left;
  text-align: center;
}
#ste_rule p {
  position: relative;
  margin-left: 58px;
  line-height: 50px;
  font-size: 14px;
  width: 793px;
}
.entr_flaot_d {
  width: 14px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 1px;
  z-index: 15;
  background-color: #fff9d3;
  border-radius: 5px;
  cursor: pointer;
}
#point_s {
  position: relative;
  margin-left: 30px;
  font-size: 14px;
  text-align: center;
  border: 1px solid;
}
.end {
  top: 126px;
}
