body {
  margin: 0;
  padding: 0;
  min-width: 1230px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.background {
  width: 100%;
  height: 3340px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 1230px;
}
.bg {
  width: 100%;
  height: 3340px;
}
.nav-bg {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  min-width: 1230px;
  position: fixed;
  top: 0px;
  z-index: 4;
}
.nav {
  width: 985px;
  height: 60px;
  margin: 0 auto;
}
.cqupt-img {
  float: left;
  width: 46px;
  height: 46px;
  margin-top: 7px;
}
.cqupt-write {
  float: left;
  width: 147px;
  height: 40px;
  margin-top: 10px;
}
.nav-bar {
  float: right;
  height: 60px;
  line-height: 60px;
}
.nav-bar li {
  float: left;
  margin-left: 33px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 1s;
}
.nav-bar li:hover {
  transform: rotate(15deg);
}
.hp {
  height: 50px;
  color: #82cb83;
  border-bottom: solid 3px #82cb83;
}
.new-s {
  color: #ffb208;
}
.head {
  width: 1019px;
  height: 789px;
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
}
.head-hill {
  margin-top: 46px;
}
.head-write {
  position: absolute;
  top: 37px;
  left: 50%;
  margin-left: -266px;
}
.head-leaf {
  position: absolute;
  top: 94px;
  left: 50%;
  margin-left: -370px;
}
.ani-leaf {
  position: absolute;
  top: 0;
  z-index: 3;
}
.time {
  position: absolute;
  top: 431px;
  left: 50%;
  margin-left: -85px;
}
.time li {
  float: left;
  width: 22px;
  height: 36px;
  overflow: hidden;
  position: relative;
}
.hour {
  margin-left: 57px;
}
.min {
  margin-left: 62px;
}
.sec {
  margin-left: 55px;
}
.time li img {
  width: 22px;
  height: 360px;
  position: absolute;
  top: 0;
}
.leaf {
  width: 1230px;
  position: absolute;
  top: 341px;
  left: 50%;
  margin-left: -615px;
  z-index: 1;
}
.fix-l {
  width: 162px;
  height: 332px;
  position: fixed;
  top: 50%;
  left: 15px;
  margin-top: -166px;
  z-index: 4;
  animation: airL 2s infinite;
  animation-iteration-count: 1;
  opacity: 1;
  transition: opacity 1s;
}
@keyframes airL {
  from {
    left: -200px;
  }
}
.airL-dis {
  animation: air_d 2s infinite;
  animation-iteration-count: 1;
  opacity: 0;
}
@keyframes air_d {
  from {
    opacity: 1;
  }
}
.air-l {
  position: relative;
  left: -15px;
  top: 10px;
}
.air-l-write {
  width: 143px;
  height: 171px;
  position: absolute;
  bottom: 0;
  left: 10px;
  color: #ffb464;
  font-family: "Microsoft YaHei";
}
.phone-write {
  font-size: 24px;
  text-align: center;
}
.download {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
}
.fix-r {
  width: 162px;
  height: 332px;
  position: fixed;
  top: 50%;
  right: 5px;
  margin-top: -166px;
  z-index: 4;
  animation: airR 2s infinite;
  animation-iteration-count: 1;
  opacity: 1;
  transition: opacity 1s;
}
@keyframes airR {
  from {
    right: -200px;
  }
}
.airR-dis {
  animation: air_d 2s infinite;
  animation-iteration-count: 1;
  opacity: 0;
}
.air-r {
  position: relative;
  right: -30px;
  top: 10px;
}
.air-r-write {
  width: 143px;
  height: 171px;
  position: absolute;
  bottom: 0;
  left: 10px;
  font-family: "Microsoft YaHei";
  color: #66c5d3;
}
.wx-write {
  font-size: 24px;
  text-align: center;
}
.see {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  left: 5px;
}
.map {
  width: 1031px;
  height: 631px;
  margin: 0 auto;
  position: relative;
  top: -138px;
}
.title-map {
  width: 219px;
  height: 110px;
  position: relative;
  margin: 0 auto;
  top: 20px;
}
.iconfont-write {
  width: 160px;
  height: 52px;
  line-height: 52px;
  position: absolute;
  top: 7px;
  left: 22px;
}
.map-write {
  font-size: 30px;
  color: #f78b08;
  font-family: "Microsoft YaHei";
  float: right;
}
.map-con {
  width: 1031px;
  height: 550px;
  position: absolute;
  z-index: 2;
}
.big-small {
  width: 40px;
  height: 85px;
  position: absolute;
  right: 42px;
  bottom: 56px;
}
.big-c {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.small-c {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  margin-top: 5px;
}
.details {
  width: 520px;
  height: 360px;
  position: absolute;
  top: 89px;
  left: 50%;
  margin-left: -260px;
  z-index: 2;
  background-color: #fffef1;
  border-radius: 10px;
  font-family: "Microsoft YaHei";
  display: none;
}
.close {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 22px;
  background-color: #ffec96;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 3;
}
.datail-c {
  width: 465px;
  height: 190px;
  margin: 0 auto;
  margin-top: 26px;
  position: relative;
}
.datails-p {
  width: 100%;
  height: 100%;
}
.arrow-l {
  width: 50px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  cursor: pointer;
}
.arrow-r {
  width: 50px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 0;
  cursor: pointer;
}
.datails-name {
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  width: 465px;
  margin: 0 auto;
  text-align: center;
  margin-top: 6px;
  cursor: pointer;
}
.datails-write {
  font-size: 12px;
  height: 71px;
  line-height: 20px;
  width: 465px;
  margin: 0 auto;
  color: #666666;
}
.place-name {
  width: 97px;
  height: 40px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  display: none;
}
.position {
  position: absolute;
  top: 280px;
  left: 520px;
  cursor: pointer;
}
#old-lib {
  position: absolute;
  top: 348px;
  left: 488px;
}
.news {
  width: 1031px;
  height: 627px;
  margin: 0 auto;
  position: relative;
}
.news-p {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.news-l {
  width: 335px;
  height: 627px;
  float: left;
  position: relative;
  margin-left: 10px;
}
.book-title {
  width: 219px;
  height: 110px;
  position: relative;
  margin: 0 auto;
}
.b-content {
  width: 160px;
  height: 52px;
  line-height: 52px;
  position: absolute;
  top: 7px;
  left: 22px;
}
.book-t-write {
  font-size: 30px;
  color: #f78b08;
  font-family: "Microsoft YaHei";
  float: right;
}
.book-datails {
  width: 250px;
  height: 435px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -120px;
}
.bb-circle {
  width: 162px;
  height: 162px;
  margin: 0 auto;
  border-radius: 81px;
  background-color: #fff6dd;
  position: relative;
  top: 33px;
}
.bs-circle {
  width: 142px;
  height: 142px;
  border-radius: 71px;
  background-color: #fdd873;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -71px;
  margin-top: -71px;
}
.book-p {
  width: 80px;
  height: 85px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -42px;
}
.book-write {
  width: 250px;
  height: 126px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  line-height: 25px;
  color: #666666;
}
.know-b {
  width: 185px;
  height: 62px;
  margin: 0 auto;
  margin-top: 35px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(#1ddbda, #13c3bb);
}
.know-b:hover {
  background: linear-gradient(#13c3bb, #1ddbda);
}
.know-b:active {
  background: linear-gradient(#1ddbda, #13c3bb);
}
.news-c {
  width: 335px;
  height: 627px;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-left: 0;
}
.data-title {
  width: 219px;
  height: 110px;
  position: relative;
  margin: 0 auto;
}
.d-content {
  width: 160px;
  height: 52px;
  line-height: 52px;
  position: absolute;
  top: 7px;
  left: 22px;
}
.data-t {
  float: left;
  margin-top: 13px;
}
.data-t-write {
  font-size: 30px;
  color: #f78b08;
  font-family: "Microsoft YaHei";
  float: right;
}
.data-datails {
  width: 250px;
  height: 435px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -120px;
}
.db-circle {
  width: 162px;
  height: 162px;
  margin: 0 auto;
  border-radius: 81px;
  background-color: #fff6dd;
  position: relative;
  top: 33px;
}
.ds-circle {
  width: 142px;
  height: 142px;
  border-radius: 71px;
  background-color: #fdd873;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -71px;
  margin-top: -71px;
}
.data-p {
  width: 80px;
  height: 85px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -42px;
}
.data-write {
  width: 250px;
  height: 126px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  line-height: 25px;
  color: #666666;
}
.know-d {
  width: 185px;
  height: 62px;
  margin: 0 auto;
  margin-top: 35px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(#1ddbda, #13c3bb);
}
.know-d:hover {
  background: linear-gradient(#13c3bb, #1ddbda);
}
.know-d:active {
  background: linear-gradient(#1ddbda, #13c3bb);
}
.news-r {
  width: 335px;
  height: 627px;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-left: 0;
}
.house-title {
  width: 219px;
  height: 110px;
  position: relative;
  margin: 0 auto;
}
.h-content {
  width: 160px;
  height: 52px;
  line-height: 52px;
  position: absolute;
  top: 7px;
  left: 22px;
}
.house-t {
  float: left;
  margin-top: 13px;
}
.house-t-write {
  font-size: 30px;
  color: #f78b08;
  font-family: "Microsoft YaHei";
  float: right;
}
.house-datails {
  width: 250px;
  height: 435px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -120px;
}
.hb-circle {
  width: 162px;
  height: 162px;
  margin: 0 auto;
  border-radius: 81px;
  background-color: #fff6dd;
  position: relative;
  top: 33px;
}
.hs-circle {
  width: 142px;
  height: 142px;
  border-radius: 71px;
  background-color: #fdd873;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -71px;
  margin-top: -71px;
}
.house-p {
  width: 80px;
  height: 85px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -42px;
}
.house-write {
  width: 250px;
  height: 126px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  line-height: 25px;
  color: #666666;
}
.know-h {
  width: 185px;
  height: 62px;
  margin: 0 auto;
  margin-top: 35px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(#1ddbda, #13c3bb);
}
.know-h:hover {
  background: linear-gradient(#13c3bb, #1ddbda);
}
.know-h:active {
  background: linear-gradient(#1ddbda, #13c3bb);
}
.student-k {
  width: 1024px;
  height: 365px;
  margin: 0 auto;
  margin-top: 135px;
}
.stu-t {
  width: 219px;
  height: 110px;
  position: relative;
  margin: 0 auto;
  top: 10px;
}
.title-p {
  position: absolute;
  z-index: -2;
}
.s-content {
  width: 160px;
  height: 52px;
  line-height: 52px;
  position: absolute;
  top: 7px;
  left: 22px;
}
.stu-write {
  font-size: 30px;
  color: #f78b08;
  font-family: "Microsoft YaHei";
  float: right;
}
.stu-con {
  width: 1024px;
  height: 260px;
  position: relative;
}
.weKnow {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.stuKnow-p {
  float: left;
  margin-top: 16px;
  margin-left: 21px;
}
.stu-r {
  float: right;
  width: 510px;
  height: 137px;
  margin-right: 55px;
  margin-top: 63px;
}
.stu-c {
  width: 510px;
  height: 58px;
  line-height: 25px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #666666;
}
.stu-know {
  width: 185px;
  height: 62px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  border-radius: 25px;
  float: right;
  margin-top: 28px;
  cursor: pointer;
  background: linear-gradient(#1ddbda, #13c3bb);
}
.stu-know:hover {
  background: linear-gradient(#13c3bb, #1ddbda);
}
.stu-know:active {
  background: linear-gradient(#1ddbda, #13c3bb);
}
.we-k {
  width: 1024px;
  height: 365px;
  margin: 0 auto;
  margin-top: 135px;
  margin-top: 31px;
}
.we-t {
  width: 219px;
  height: 110px;
  position: relative;
  margin: 0 auto;
  top: 10px;
}
.w-content {
  width: 160px;
  height: 52px;
  line-height: 52px;
  position: absolute;
  top: 7px;
  left: 22px;
}
.we-write {
  font-size: 30px;
  color: #f78b08;
  font-family: "Microsoft YaHei";
  float: right;
}
.we-con {
  width: 1024px;
  height: 260px;
  position: relative;
}
.aboutWe-p {
  float: left;
  margin-top: 16px;
  margin-left: 21px;
}
.we-r {
  float: right;
  width: 510px;
  height: 137px;
  margin-right: 55px;
  margin-top: 63px;
}
.we-c {
  width: 510px;
  height: 58px;
  line-height: 25px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #666666;
}
.we-know {
  width: 185px;
  height: 62px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  border-radius: 25px;
  float: right;
  margin-top: 28px;
  cursor: pointer;
  background: linear-gradient(#1ddbda, #13c3bb);
}
.we-know:hover {
  background: linear-gradient(#13c3bb, #1ddbda);
}
.we-know:active {
  background: linear-gradient(#1ddbda, #13c3bb);
}
.back {
  width: 114px;
  height: 112px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s;
}
.backTop {
  position: absolute;
  z-index: -1;
}
.back-write {
  font-size: 26px;
  color: #fff;
  width: 55px;
  height: 55px;
  margin-top: 16px;
  margin-left: 32px;
}
.end {
  clear: both;
  width: 100%;
  height: 177px;
  background-color: #fffde7;
  font-family: "Microsoft YaHei";
  position: relative;
  top: 172px;
}
.end-con {
  width: 730px;
  height: 79px;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 14px;
  color: #efb352;
  line-height: 1.714;
}
.aboutSch {
  width: 330px;
  height: 23px;
  line-height: 23px;
  margin: 0 auto;
}
.aboutSch li {
  float: left;
  height: 20px;
  padding-left: 5px;
  cursor: pointer;
}
.exp {
  text-align: center;
}
.address {
  text-align: center;
}
